<% layout("/layouts/boilerplate") %>

    <div class="main mt-5">
        <h3 class="heading">All Listings</h3>
        <!-- <form method="GET" action="/listings/new">
            <button>Create New Listing</button>
        </form> -->
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 mt-2">
            <% for(let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card listing-card col" style="width: 20rem">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image"
                            style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                ₹<%= listing.price.toLocaleString("en-IN") %>/ night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </div>